[submodule "unittest/deps/Catch2"]
	path = unittest/deps/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "deps/cpprelude"]
	path = deps/cpprelude
	url = git@github.com:Symbyo360/cpprelude.git
[submodule "scratch/deps/entt"]
	path = scratch/deps/entt
	url = git@github.com:skypjack/entt.git
[submodule "deps/math"]
	path = deps/math
	url = git@github.com:Symbyo360/math.git
